.footnote-box {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    z-index: 2;
    position: relative;
    color: #000;
    background-color: #fff;
    align-self: end;
    
    offset: 0px -60px;
    
}
.title, .footnote-text {
    text-decoration:solid;
    font-weight: bolder;
    align-self: center;
    margin:1rem;
}
.title {
    font-size: 4vh;
}
.footnote-text {
    font-size: 2vh;
    flex-grow: 1;
    text-align: left;
}
.separator {
    margin: 0.5rem 0;
    background-color: #000;
    height: 1vh;
    aspect-ratio: 1 / 1;
}