.App {
  text-align: center;
  background-color: #282c34;
  height: max-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
}
.App-header p {
  align-self: flex-start;
  width: 75%;
  text-align: center;
}
.App-link {
  color: #61dafb;
}
/*
  borrowed CSS styling from https://github.com/fireclint/travel-react-app/blob/main/src/index.css
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #282c34;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

button {
  background-image: linear-gradient(45deg,var(--primary-dark) 0%, var(--primary-light) 100%);
  border: 1px solid var(--primary-dark);
  color: #fff;
  padding: .7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  align-self: flex-start;
  justify-self: flex-end;
  flex-direction: column;
  text-align: start;
  background-color: white;
  color: black;
  padding: 2rem;
  width:25%;
  min-width: 8rem;
  height:100%;
  position: fixed;
  z-index: 3;
  border: 3px solid #dddddd;
  font-weight: bold;
}
.article-header-container {
  align-self: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5rem 2.5%;
  margin: 0.5rem;
  background-color: #282c34;
}


@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}